@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.card{
    width: 460px;
    background-color: transparent;
    text-align: center;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.228);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
}
.login{
    cursor: pointer;
    font-size: 30px;
    color: #ffffffe4;
}

.details{
    position: relative;
    width: 100%;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
    

.input{
    width: 100%;
    min-height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid #ffffff7e;
    border-radius: 10px;
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}
.input:focus{
    background-color: #ffffff1f;
}

.input::placeholder{
    color: #ffffffce;
}
.rem-for{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.remember{
    font-size: 20px;
    color: #ffffff;

}
.forget{
    font-size: 10px;
    display: flex;
    align-items: center;
}
.reg{
    justify-content: center;
    display: flex;
    gap: 8px;
    margin-top: 30px;
}
.register{
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
.register:hover{
    opacity: 1;
}

a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
}
.btn{
    margin: 30px 5px;
}
button{
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.808);
    padding: 10px;
    width: 150px;
    max-width: 100%;
    border: none;
    border-radius: 25px;
    background: #ffffffd3;
}



